<nav class="navbar navbar-expand-md navbar-light bg-light rounded">
  <div class="container-xl">
    <img
      src="/assets/images/apexmod.svg"
      style="max-height: 55px"
      class="logo mr-5"
      alt="logo"
      routerLink="/"
    />
    <div>
      <a routerLink="/basket" class="position-relative basket-icon--mobile">
        <i class="fa fa-shopping-cart fa-2x mr-4 text-dark"></i>
        <div *ngIf="quantity$ | async as quantity" class="cart-no1">
          {{ quantity.quantity }}
        </div>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample09"
        aria-controls="navbarsExample09"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse"
      id="navbars-apex"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <nav
        class="navbar-nav mr-auto text-uppercase mt-1"
        style="font-size: larger"
      >
      <a class="my-1 mr-4 nav-link--title" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}" >Home</a>
        <a
          class="my-1 mr-4 nav-link--title"
          [routerLink]="['/shop']"
          routerLinkActive="active"
          >Shop</a
        >
        <a
          class="my-1 mr-4 nav-link--title"
          [routerLink]="['/about']"
          routerLinkActive="active"
          >About Us</a
        >
        <a
          *ngIf="isAdmin$ | async"
          class="my-1 mr-4 nav-link--title"
          routerLink="/admin"
          routerLinkActive="active"
          >Admin</a
        >
      </nav>

      <div class="d-flex align-items-center my-2 my-md-0">
        <a
          routerLink="/basket"
          class="position-relative basket-icon--desktop mr-2"
        >
          <i class="fa fa-shopping-cart fa-2x mr-4 text-dark"></i>
          <div *ngIf="quantity$ | async as quantity" class="cart-no">
            {{ quantity.quantity }}
          </div>
        </a>

        <ng-container *ngIf="(currentUser$ | async) === null">
          <a routerLink="/account/login" class="btn btn-outline-secondary mr-2"
            >Login</a
          >
          <a
            routerLink="/account/register"
            class="btn btn-outline-secondary mr-3"
            >Sign up</a
          >
        </ng-container>

        <ng-container *ngIf="currentUser$ | async">
          <div class="dropdown mr-5" dropdown>
            <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
              <strong>Welcome {{ (currentUser$ | async).displayName }}</strong>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right"
              style="cursor: pointer"
              *dropdownMenu
            >
              <a
                routerLink="/basket"
                class="dropdown-item d-flex align-items-center py-2"
              >
                <i class="fa fa-shopping-cart mr-3"></i> View Basket
              </a>
              <a
                routerLink="/orders"
                class="dropdown-item d-flex align-items-center py-2"
              >
                <i class="fa fa-history mr-3"></i> View Orders
              </a>
              <div class="dropdown-divider"></div>
              <a
                (click)="logout()"
                class="dropdown-item d-flex align-items-center py-2"
              >
                <i class="fa fa-sign-out mr-3"></i> Logout
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
