.product-description__name{
  white-space: pre-line;
}


.tr-mobile-view{
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.tr-desktop-view{

  @media (max-width: 768px) {
    display: none;
  }
}

.tr--border{
  border-bottom: 1px solid #4b4a4a81;
}

.order__name{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
