<div *ngIf="order" class="container-lg mt-5">
  <h2 class="mx-2">Order Number: {{ order && order.id }}</h2>

  <div class="mt-4 mx-2">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-8">
        <div class="tab-panel">
          <tabset class="product-tabset">
            <tab heading="PayPal">
              <div id="dropin-container"></div>
              <button class="btn btn-outline-danger" id="submit-button" (click)="pay()"><strong>Confirm and Pay.</strong></button>    
            </tab>
            <tab heading="WeChat Pay">
              <img
                src="assets/images/wei01.jpeg"
                style="width: 320px"
              />
            </tab>
            <tab heading="AliPay">
              <img
                src="assets/images/wei01.jpeg"
                style="width: 320px"
              />
            </tab>
          </tabset>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-4">
        <app-order-totals
          *ngIf="order"
          [shippingPrice]="order.shippingPrice"
          [subtotal]="order.subtotal"
          [total]="order.total"
        ></app-order-totals>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!order" class="container mt-5">
  <div><i class="fa fa-ban fa-5x" style="color: red;"></i></div>
  <h2>OOP!, Order Not Found!!!</h2>
  <p class="mb-4">Please check the order, or created a new one!</p>
  <button *ngIf="!order" routerLink="/orders/" class="btn btn-outline-success">View your order</button>
</div>



