<ngx-spinner>
  <h3>loading...</h3>
</ngx-spinner>

<div id="page-container">
  <app-nav-bar></app-nav-bar>
  <app-section-header></app-section-header>

  <div class="content-wrap">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
  <div class="chat__container">
    <div class="chat-box">
      <img
        src="assets/images/phone_logo.png"
        class="logo"
        style="display: block"
        (click)="toggleLogo()"
      />
      <div class="chat__details" style="text-align: center" [hidden]="show">
        <button type="button" class="close btn--close" (click)="toggleLogo()">
          &times;
        </button>
        <div class="chat__detail">
          <p><strong>Phone:</strong></p>
          <a href="tel:0408148811"><p>0408 148 811</p></a>
        </div>
        <div class="chat__detail">
          <p><strong>Email:</strong></p>
          <a href="mailto:sales@toplayer.com.au"
            ><p>sales@toplayer.com.au</p></a
          >
        </div>
        <div class="chat__detail">
          <p><strong>Service Hours:</strong></p>
          <p>Mon - Sun</p>
          <p>10:30am-9:00pm(AEST)</p>
        </div>
      </div>
    </div>
  </div>
</div>
