#page-container {
  position: relative;
  // min-height: calc(100vh - 22px);
  min-height: 100vh;
}

.content-wrap {
  // padding-bottom: 6rem;    /* Footer height */
  padding-bottom: 3rem;
  // background-color: black;
  // background-image: url(https://img.pccasegear.com/tr:n-pr/skyscraper_left_new.jpg);
  // background-repeat: repeat-x;
  min-height: calc(100vh - 191px);
  position: relative;
  &::before {
    content: "";
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background-color: black;
    background-size: contain;
    background-image: url("../assets/images/bg_left.jpg");
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
    background-image: url("../assets/images/bg_left.jpg");
    background-size: contain;
    background-color: black;
    background-position: right 0;
    background-repeat: no-repeat;
  }
}

.chat__container {
  float: right;
  position: fixed;
  bottom: 10%;
  height: 60px;
  margin-top: -200px;
  right: 0px;
  z-index: 9999;

  & .chat-box {
    text-align: right;
    position: relative;
    height: 54px;

    & img {
      width: 54px;
      right: 0px;
      float: right;
    }

    & .chat__details {
      display: block;
      position: absolute;
      right: 60px;
      top: -103px;
      height: 180px;
      width: 180px;
      background-color: white;
      border: solid 1px rgba(0, 0, 0, 100);
      z-index: 2;
      & .chat__detail {
        margin-bottom: 6px;

        & p {
          margin-bottom: 1px;
        }
      }
      & img {
        display: block;
        width: 160px;
      }
    }
    // &:hover .chat__details {
    //   display: block;
    // }
  }
}

.btn--close {
  margin-right: 1px;
}
