<section class="product-edit mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4">
        <button
          (click)="backToProduct(productId)"
          class="btn btn-outline-primary float-left"
        >
          Back To Product
        </button>
      </div>

      <div class="col-12">
        <div class="tab-panel">
          <tabset class="product-tabset">
            <tab heading="Edit Product">
              <div class="col-lg-8">
                <app-edit-component-form
                  [component]="component"
                  [productId]="productId"
                  [componentId]="componentId"
                ></app-edit-component-form>
              </div>
            </tab>
            <tab *ngIf="edit" heading="Edit Photos">
              <app-edit-component-photo [component]="component"></app-edit-component-photo>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
