<section class="admin-page" *ngIf="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-flex justify-content-between my-3">
          <header class="h2">Component List</header>
          <button [routerLink]="['create']" class="btn btn-outline-success">Create new Component</button>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">
                <div class="p-2">Id</div>
              </th>
              <th scope="col">
                <div class="p-2 text-uppercase">Img</div>
              </th>
              <th scope="col">
                <div class="py-2 text-uppercase">Title</div>
              </th>
              <th scope="col">
                <div class="p-2 px-3 text-uppercase">PCCG</div>
              </th>
              <th scope="col">
                <div class="p-2 px-3 text-uppercase">Mwave</div>
              </th>
              <th scope="col">
                <div class="p-2 px-3 text-uppercase">Edit</div>
              </th>
              <th scope="col">
                <div class="p-2 px-3 text-uppercase">Delete</div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let component of product.productComponents">
              <td class="align-middle">{{component.id}}</td>
              <td>
                <div class="p-2">
                  <img src="{{component.photo && component.photo.pictureUrl || '/assets/images/placeholder.png'}}" alt="{{component.title}}" class="img-fluid" style="max-height: 50px">
                </div>
              </td>
              <th class="align-middle"><h5>{{component.title}}</h5></th>
              <td class="align-middle">{{component.pPrice | currency}}</td>
              <td class="align-middle">{{component.tPrice | currency}}</td>
              <td class="align-middle"><button [routerLink]="['component', component.id]" (click)="showComponent(component)" class="btn btn-warning">Edit</button></td>
              <td class="align-middle"><button (click)="deleteProductComponent(component.id)" class="btn btn-danger">Delete</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>