<div class="container mt-5">
  <!-- <button (click)='get500Error()' class="btn btn-outline-primary mr-3">Test 500 Error</button>
  <button (click)='get400Error()' class="btn btn-outline-primary mr-3">Test 400 Error</button>
  <button (click)='get404Error()' class="btn btn-outline-primary mr-3">Test 404 Error</button>
  <button (click)='get400ValidationError()' class="btn btn-outline-primary mr-3">Test 400 ValidationError</button>
  <div class="row mt-5" *ngIf="validationErrors">
    <ul class="text-danger">
      <li class="" *ngFor="let error of validationErrors">{{error}}</li>
    </ul>
  </div> -->
  <div class="row">
    <div class="col-12 px-4">
      <h2 style="font-weight: bold; text-align: center;">About Us</h2>
      <p>
        Toplayer is funded to provide the unbeatable service around computer hardwares. We not only sell computer parts
        with the lowest online price but also assit in assembling them.
      </p>
    </div>
    <div class="col-12 col-sm-6 pt-4">
      <div class="d-flex justify-content-between flex-column" style="text-align: center;">
        <div>
          <i class="fa fa-map-marker fa-3x"></i>
        </div>
        <p><strong>Service Hours:</strong> Mon - Sun 10:30am - 9:00pm(AEST)</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 pt-4">
      <div class="d-flex justify-content-between flex-column" style="text-align: center;">
        <div>
          <i class="fa fa-mobile fa-3x"></i>
        </div>
        <p><strong>Phone:</strong> 0408 148 811</p>
      </div>
    </div>

  </div>
</div>