<form
  class="mt-4"
  #componentForm="ngForm"
  (ngSubmit)="onSubmit(componentForm.valid && componentForm.value, productId)"
>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Component Title</label>
      <input
        [ngClass]="{
          'is-invalid': title.invalid && (title.dirty || title.touched)
        }"
        required
        type="text"
        class="form-control"
        id="title"
        placeholder="Component Title"
        name="title"
        #title="ngModel"
        [(ngModel)]="component.title"
      />
      <div
        *ngIf="title.invalid && (title.dirty || title.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="title.errors.required">
          Component Title required
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="description">Description</label>
      <textarea
        [ngClass]="{
          'is-invalid':
            description.invalid && (description.dirty || description.touched)
        }"
        required
        #description="ngModel"
        class="form-control"
        id="description"
        [(ngModel)]="component.description"
        name="description"
        rows="3"
      ></textarea>
      <div
        *ngIf="
          description.invalid && (description.dirty || description.touched)
        "
        class="invalid-feedback"
      >
        <div *ngIf="description.errors.required">
          Description price is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="price">PCCG Price</label>
      <input
        [ngClass]="{
          'is-invalid': pPrice.invalid && (pPrice.dirty || pPrice.touched)
        }"
        required
        type="text"
        class="form-control"
        id="PPrice"
        placeholder="pPrice"
        currencyMask
        name="pPrice"
        #pPrice="ngModel"
        min="0.01"
        [ngModel]="+component.pPrice"
        (ngModelChange)="updatePPrice(+$event)"
      />
      <div
        *ngIf="pPrice.invalid && (pPrice.dirty || pPrice.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="pPrice.errors.required">
          PCCG price is required
        </div>
        <div *ngIf="pPrice.errors.pattern">
          PCCG price needs to be decimal value
        </div>
        <div *ngIf="pPrice.errors.min">
          PCCG price must be greater than zero
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="price">MWAVE Price</label>
      <input
        [ngClass]="{
          'is-invalid': tPrice.invalid && (tPrice.dirty || tPrice.touched)
        }"
        required
        type="text"
        class="form-control"
        id="price"
        placeholder="Price"
        currencyMask
        name="tPrice"
        #tPrice="ngModel"
        min="0.01"
        [ngModel]="+component.tPrice"
        (ngModelChange)="updateTPrice(+$event)"
      />
      <div
        *ngIf="tPrice.invalid && (tPrice.dirty || tPrice.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="tPrice.errors.required">
          MWAVE price is required
        </div>
        <div *ngIf="tPrice.errors.pattern">
          MWAVE price needs to be decimal value
        </div>
        <div *ngIf="tPrice.errors.min">
          MWAVE price must be greater than zero
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button
      [disabled]="!componentForm.valid"
      type="submit"
      class="btn btn-primary mt-3"
    >
      Submit
    </button>
  </div>

  <br /><br /><br />
  <div class="float-right">
    <div
      *ngIf="success"
      class="alert alert-dismissible alert-success mt-2 float-right"
    >
      <button
        type="button"
        class="close"
        (click)="closeAlert()"
        data-dismiss="alert"
      >
        &times;
      </button>
      <strong>Well done!</strong> You Submit successfully!
      <!-- <a href="#" class="alert-link"> this important alert message</a>. -->
    </div>
  </div>

</form>
