<!-- <div class="card h-100 shadow-sm">
    <div class="image position-relative" style="cursor: pointer;">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-Light">
        <div class="d-flex align-items-center justify-content-center hover-overlay">
            
            <ng-container *ngIf="product.productCategory === 'pc';else other_content">
                <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-primary fa mr-2">Configure</button>
            </ng-container>
            <ng-template #other_content>
                <button (click)="addItemToBasket()" type="button" class="btn btn-primary fa fa-shopping-cart mr-2"></button>
            </ng-template>
            
            <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-primary">View</button>
        </div>
    </div>
    
    <div class="card-body d-flex flex-column">
        <a routerLink="/shop/{{product.id}}">
            <h6 class="text-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
    </div>
</div> -->

<div class="card h-100 shadow-sm product-card">
  <div class="image position-relative img-box" style="cursor: pointer">
    <img
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
      routerLink="/shop/{{ product.id }}"
      class="img-fluid bg-Light "
    />

  </div>

  <div class="card-body ">
    <a routerLink="/shop/{{ product.id }}" class="">
      <h5 class="card-title product-item__title">{{ product.name }}</h5>
    </a>
    <p class="card-text">{{ product.price | currency }}</p>

    <div class="btn-groups">
      <ng-container
        *ngIf="product.discriminator === 'Product'; else other_content"
      >
        <button
          routerLink="/shop/{{ product.id }}"
          type="button"
          class="btn btn-success mr-2 btn--view"
        >
          Configure
        </button>
      </ng-container>
      <ng-template #other_content>
        <button
          (click)="addItemToBasket()"
          type="button"
          class="btn btn-success fa fa-shopping-cart mr-2"
        ></button>

      <button
        routerLink="/shop/{{ product.id }}"
        type="button"
        class="btn btn-primary btn--view"
      >
        View
      </button>

      </ng-template>


    </div>
  </div>
</div>
