
.product-card{
  min-width: 210px;
  max-width: 253px;
  margin-left: auto;
  margin-right: auto;

}

.btn {
  min-width: 86px;
  height: 40px;
}

.btn-groups{
  display: flex;
  justify-content: space-around;

}