<div class="container mt-5">
  <div class="row" *ngIf="order">
    <h4 class=" col-12 text-danger mb-3">Order Status: {{order.status}}</h4>
    <div class="col-12 col-sm-12 col-md-12 mb-3">
      <app-basket-summary
        [items]="order.orderItems"
        [isBasket]="false"
        [isOrder]="true"
      >
      </app-basket-summary>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
      <app-order-totals
        [shippingPrice]="order.shippingPrice"
        [subtotal]="order.subtotal"
        [total]="order.total"
      >
      </app-order-totals>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
      <div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
        Shipping Detail
      </div>
      <div class="p-4">
        <p class="font-italic mb-4">{{order.shipToAddress.street}}, {{order.shipToAddress.city}}, {{order.shipToAddress.state}}, {{order.shipToAddress.zipcode}}</p>
        <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Buyer Name</strong>
                <strong>{{order.shipToAddress.firstName}} {{order.shipToAddress.lastName}}</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">Buyer Email</strong>
                <strong>{{order.buyerEmail}}</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
                <strong class="text-muted">deliveryMethod</strong>
                <strong>{{order.deliveryMethod}}</strong>
            </li>

        </ul>
      </div>

    </div>
    <div class="col-12">
      <button
        class="btn btn-success mt-3 ml-4 btn--print"
        (click)="print()"
      >
        Print this Order.
      </button>
    </div>

  </div>
</div>
