<div class="container-lg mt-3 shop-page">
  <div class="row">
    <section class="col-lg-3 col-md-2 col-sm-2 col-sm-3">
      <ng-container *ngIf="tags">
        <h5 class="ml-3 mt-4 mb-3 filter__title"><strong>Sort</strong></h5>
        <select
          class="custom-select mb-4"
          (change)="onSortSelected($event.target.value)"
        >
          <option
            *ngFor="let sort of sortOptions"
            [selected]="shopParams.sort === sort.value"
            [value]="sort.value"
          >
            {{ sort.name }}
          </option>
        </select>

        <h5 class="ml-3 mt-2 filter__title"><strong>Filters</strong></h5>
        <select
          class="custom-select mb-4 filter__list--option text-uppercase"
          (change)="onTagSelected($event.target.value)"
        >
          <option
            *ngFor="let tag of tags"
            [selected]="tag.id === this.shopParams.producttagid"
            [value]="tag.id"
          >
            {{ tag.name }}
          </option>
        </select>

        <ul class="list-group my-3 filter__list--li">
          <li
            class="list-group-item text-uppercase"
            style="cursor: pointer"
            *ngFor="let tag of tags"
            [ngClass]="{'active':this.shopParams.producttagid == tag.id }"
            [value]="tag.id"
            (click)="onTagSelected(tag.id)"
          >
            {{ tag.name }}
          </li>
        </ul>
      </ng-container>
    </section>

    <section class="col-lg-9 col-md-10 col-sm-9">
      <div
        class="d-flex justify-content-between align-items-center pb-2 flex-wrap"
      >
        <app-paging-header
          class="mb-1"
          [totalCount]="totalCount"
          [pageSize]="this.shopParams.pageSize"
          [pageNumber]="this.shopParams.pageNumber"
        ></app-paging-header>

        <div class="form-inline" *ngIf="products">
          <input
            (keyup.enter)="onSearch()"
            class="form-control mr-2 search-box"
            #search
            placeholder="Search"
            type="text"
          />
          <div>
            <button (click)="onSearch()" class="btn btn-outline-primary my-2">
              Search
            </button>
            <button
              (click)="onReset()"
              class="btn btn-outline-success ml-2 my-2"
            >
              Reset
            </button>
          </div>
        </div>
      </div>

      <div class="row product-groups">
        <div class="mb-4 product" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
          [totalCount]="totalCount"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
