<carousel>
  <slide>
      <img src="assets/images/001.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/images/002.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/images/003.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/004.jpg" alt="first slide" style="display: block; width: 100%;">
</slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
      <h1 style="font-weight: bold ;">Welcome to the Apex Mod!</h1>
  </div>
</section>



